/* Збросити css стилі */

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* All page styles */
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
}

.general__content {
  max-width: 980px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Header */
header {
    height: 230px;
    padding-top: 45px;
    background-color: #FFF7D0;
}

#header__content {
    display: flex;
    justify-content: space-between;
}

#logo {
    display: flex;
}

#logo__image {
    width: 120px;
}

#logo__image > img {
    border-radius: 20%;
}

#logo__title {
    padding-top: 30px;
    margin-left: 20px;
}

#logo__title > h1 {
    font-size: 42px;
    margin-bottom: 35px;
}

#logo__title > p {
    font-size: 20px;
}

#feedback {
    display: flex;
    flex-direction: column;
    text-align: end;
}

#feedback > h2 {
    font-size: 24px;
}

#feedback > p {
    font-size: 32px;
    margin-bottom: 25px;
}

#nav__links {
   margin: 0 35px;
} 

/* Navigation */
.general__content > nav {
  display: flex;
  justify-content: space-around; 
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

#nav__wrapper {
  display: flex;
  align-items: center;
  height: 80px;
}

#menu__nav {
  background-color: #FFEE9D;
}

/* Slider */
#menu__slider {
  height: 400px;
  /* background-color: rebeccapurple; */
}

/* Main content */
#main__content__path {
  background-color: #FFEE9D;
}

#main__content__path__inner {
  /* background-color: orange; */
  height: 30px;
  display: flex;
  align-items: center;
  font-weight: bolder;
}

#main__content {
  height: 1385px;
  background-image: url(https://lh3.googleusercontent.com/rtIjVpV7iekcEVn_bSGmG_ayeMNLNAFGB6oWAn355Jce-NPumKgLZ4pGj9mBHXhYHRRC_Q-st1cNcL4gRglSDJcH0iLXkOUHpZ_8U-FX7NNQvRtK_vLraI0goZfLqAhWE2adYGCoM2iOGY3jhzCWozrKrv4q8jDhC1B49OZUFy6N0L_RpS9PDFf0uQslVNmjj05RshVAMJt7XCkIPB8lwzRMZAph0p9wYzH-3xi0cujj-H54rXrkabvwZdfm6ORqH2ye2h7iR3y1cXzrc7f7u6GCLCxaAFIio5c_nQQrV3nQRnFFM_X7DRoTx7EnpWMr3yyhhkJ2J7xGLCYQOT8R9LHRgScqdC43LsX9GK-rar9UoHMiSLKKu6G6REHC-SZCLhgCajFHrqqlP6GkCmAOQ-C7s4aZpotFESclTRWJATQzFwlPRwngzzZQkKXmDqMly083Fnvm_3hchZm-Tkwfz9RIEcUjcRMphMlcxlw11LtTnaGUjQBffbWAW9I7phdaPEKs3uVKz0PCehEy00EuikF_6FEi8dp01pDh0YZWQj_oxWwQNU-dmVe14Yb_okgHI0X_yRvCUTLZYU-LYTziv7PuY9rsYyW0dBs9VIIlzNXn0Ndr4RUDPMA4Lxe29S29EoHCAK6z9pHOV8VrKNeS8D7Av9rb-x4fpjvWaV7MvafxjAPNv8xdMttMAlyCSz7s_BRxOajkFIBLMcl3Pwno1wf-tExHnQiOvAgLumoNPJxLdxE40GBwlHNA1Egj_-9xrxt2djevm1_UViHrqyfoQmefWeGNW839xA=w1477-h830-no?authuser=0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main__content__inner {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 1385px;
  background-color: white;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.12); */
}

#main__content__inner__aside__left {
  width: 19%;
  height: 780px;
  background-color: #FFF7D0;
}

#goods__types__list__wrapper {
  margin-top: 15px;
  margin-left: 10px;
}

#goods__types__list {
  text-decoration: none;
  line-height: 2em;
}

#goods__types__list > li {
  margin-bottom: 15px;
}

#goods__types__list > li > p {
  font-size: 18px;
  font-weight: bold;
}

#goods__types__list > li > ul {
  list-style-type: square;
}

#main__content__inner__aside__right {
  width: 80%;
  height: 100%;
}

#goods__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  row-gap: 20px;
}

.good__wrapper {
  width: 100%;
  height: 380px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
  /* border-radius: 5px; */
  background-color: #FFF7D0;
}

.good__wrapper__inner {
  height: 366px;
  margin: 7px;
  /* border-radius: 5px; */
  background-color: white;
}

.good__wrapper__inner > img {
  width: 100%; 
  height: 250px;
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
  /* border-radius: 5px; */
}

.good__wrapper__inner > p {
  text-align: center;
  /* font-weight: bold; */
  font-size: 14px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.good__wrapper__shopping__block {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.good__wrapper__shopping__block > img {
  height: 32px;
}

.good__wrapper__shopping__block > div > p {
  font-size: 28px;
  font-weight: 900;
  color: #ffbe00;
}

/* Pagination */
#goods__pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;

}

#goods__pagination > div {
  width: 150px;
  display: flex;
  justify-content: space-around;
}

/* About goods */
#about__goods {
  margin-top: 70px;
  margin-right: 10px;
}

#about__goods__separator {
  width: 100%;
  border-top: 1px solid black;

}

#about__goods__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  margin-top: 50px;
  /* margin-right: 10px; */
  text-align: justify;
}

/* Footer */
footer {
  height: 220px;
  background-color: #ffbf006c;
  display: flex;  
  justify-content: center;
  align-items: center;
}

#footer__content {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 980px;
  font-size: 16px;
  /* font-weight: bold; */
}

#footer__about__company {
  width: 210px;
}

#footer__nav {
  width: 200px;
}

#footer__nav > ul {
  list-style-type: none;
}

#footer__copyright {
  width: 230px;
  text-align: justify;
}