#goods__types__list__wrapper {
    margin-top: 15px;
    margin-left: 10px;
  }
  
#goods__types__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 2em;
}

#goods__types__list > li {
  margin-bottom: 15px;
}

#goods__types__list > li > p {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.15s 0s ease-in-out;
}

#goods__types__list > li > p:hover {
  color: #74fbe1;
}

#goods__types__list > li > ul {
  list-style-type: square;
}

#goods__types__list > li > ul > li {
  display: none;
}