/* All page styles */
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    background-image: url(../img/background_main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.general__content {
  max-width: 980px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Header */
header {
    height: 230px;
    padding-top: 45px;
    background: radial-gradient(circle, rgba(9,193,172,1) 0%, rgba(41,152,139,1) 100%);
}

#header__content {
    display: flex;
    justify-content: space-between;
}

#logo {
    display: flex;
}

#logo__image {
    width: 120px;
}

#logo__image > a > img {
    border-radius: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#logo__title {
    padding-top: 30px;
    margin-left: 20px;
}

#logo__title > h1 {
    font-size: 42px;
    margin-bottom: 35px;
}

#logo__title > p {
    font-size: 20px;
}

#feedback {
    display: flex;
    flex-direction: column;
    text-align: end;
}

#feedback > h2 {
    font-size: 24px;
    cursor: pointer;
    transition: color 0.1s 0s ease-in-out;
}

#feedback > h2:hover {
  color: #74fbe1;
}

#feedback > p {
    font-size: 32px;
    margin-bottom: 25px;
}

#nav__links {
   margin: 0 35px;
} 

/* Navigation */
.general__content > nav {
  display: flex;
  justify-content: space-around; 
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

#nav__wrapper {
  display: flex;
  align-items: center;
  height: 80px;
}

#nav__wrapper > nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#nav__wrapper > nav > ul > li {
  display: inline-block;
}

#nav__wrapper > nav > ul > li > a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

#nav__wrapper > nav > ul > li > a:hover {
  background: radial-gradient(circle, rgba(9,193,172,1) 0%, rgba(41,152,139,1) 100%);
  border-radius: 10px;
}

#menu__nav {
  background-color: #5D74A2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

/* Main content */
#main__content__path {
  background-color: #5D74A2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#main__content__path__inner {
  height: 30px;
  display: flex;
  align-items: center;
  font-weight: bolder;
}

#main__content__path__inner > div > a {
  transition: color 0.1s 0s ease-in-out;
  cursor: pointer;
}

#main__content__path__inner > div > a:hover {
  color: #74fbe1;
}

#main__content {
  height: 1385px;
  background-image: url(../img/background_main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main__content__inner {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 1385px;
  background: #c6f0ff;
}

#main__content__inner__aside__left {
  width: 19%;
  height: 780px;
  background-color: #5D74A2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

#prices__document {
  height: 150px;
  margin-top: 70px;
  display: flex;
  flex-direction: column  ;
  justify-content: center;
  align-items: center;
}

#prices__document:hover {
  color: #74fbe1;
}

#prices__document > img {
  background-color: #5D74A2;
  transition: height 0.2s 0s ease-in-out;
  height: 110px;
  cursor: pointer;
}

#prices__document > img:hover {
  height: 150px;
}

#prices__document > p {
  font-size: 16px;
  font-weight: bold;
}

#main__content__inner__aside__right {
  width: 80%;
  height: 100%;
}

.goods__grid {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  row-gap: 20px;
}

#main__content__inner__aside__right > .goods__grid:first-child {
  display: grid;
}

.good__wrapper {
  width: 100%;
  height: 380px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  background-color: #3f4c66;
  border-radius: 10px;

  transition: all 0.2s 0s ease-in-out;
}

.good__wrapper:hover {
  background-color: #56678a;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
}

.good__wrapper__inner {
  height: 370px;
  margin: 5px;

  background-color: #3f4c66;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.good__image__wrapper {
  height: 70%;
  margin: 10px;
}

.good__image__wrapper > img {
  height: 236px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);  
}

.good__info__wrapper {
  height: 30%;
  margin: 10px;
  background-color: #5D74A2;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);  
  display: flex;
  flex-direction: column;
}

.good__description__wrapper {
  margin: 5px;
  height: 50%;
  font-weight: bold;
  text-align: center;
}

.good__price__wrapper {
  height: 50%;
  text-align: right;
}

.good__price__wrapper > p {
  font-family: 'Secular One', sans-serif;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #74fbe1;
}

/* About goods */
#about__goods {
  margin-top: 70px;
  margin-right: 10px;
}

#about__goods__separator {
  width: 100%;
  border-top: 1px solid #3f4c66;
}

#about__goods__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  margin-top: 50px;
  text-align: justify;
}

#about__goods__grid > div {
  padding: 20px;
  background: radial-gradient(circle, rgb(21, 167, 150) 0%, rgba(41,152,139,1) 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.12); 
  font-weight: bold;
  border-radius: 10px;
}

/* Footer */
footer {
  height: 220px;
  width: 100%;
  background-color: #3f4c66;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
  display: flex;  
  justify-content: center;
  align-items: center;

  position: relative;
  bottom: 0;
}

#footer__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 980px;
  font-size: 16px;
}

#footer__about__company {
  width: 210px;
}

#footer__nav {
  width: 200px;
}

#footer__nav > ul {
  list-style-type: none;
}

#footer__nav > ul > li {
  transition: color 0.1s 0s ease-in-out;
  margin-bottom: 10px;
}

#footer__nav > ul > li:hover {
  color: #74fbe1;
  cursor: pointer;
}

#footer__copyright {
  width: 230px;
  text-align: justify;
}

#footer__copyright > p > a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: color 0.1s 0s ease-in-out;
}

#footer__copyright > p > a:hover {
  color: #74fbe1;
}
